body {
  font: 12px sans-serif;
}
.public {
    stroke: lightblue;
    fill: lightblue;
}
.private {
    stroke: lightgreen;
    fill: lightgreen;
}
.selected {
    stroke: red;
    fill: red;
}
#scatterplot {
    float: left;
}
#labels {
    float:left;
    margin-top: 30px;
    margin-left: 20px;
}